[Desktop Entry]
Version=1.0
Type=Application
Exec=exo-open --launch WebBrowser http://xubuntu.org/
Icon=distributor-logo
StartupNotify=false
Terminal=false
Categories=X-XFCE;X-Xfce-Toplevel;
OnlyShowIn=XFCE;
Name=Xubuntu Website
Name[cs]=Webová stránka Xubuntu
Name[en_AU]=Xubuntu Website
Name[en_GB]=Xubuntu Website
Name[es]=Sitio web de Xubuntu
Name[fi]=Xubuntun verkkosivusto
Name[hu]=A Xubuntu weboldala
Name[nl]=Webpagina van Xubuntu
Name[oc]=Site web de Xubuntu
Name[pl]=Strona internetowa Xubuntu
Name[pt]=Site do Xubuntu
Name[sk]=Webová stránka Xubuntu
Name[sr]=Веб сајт Иксубунтуа
Comment=Learn more about Xubuntu on our website.
Comment[cs]=Zjistětš více o Xubuntu na našich webových stránkách.
Comment[en_AU]=Learn more about Xubuntu on our website.
Comment[en_GB]=Learn more about Xubuntu on our website.
Comment[es]=Aprenda más sobre Xubuntu en nuestro sitio web.
Comment[fi]=Lue lisää Xubuntusta verkkosivustollamme.
Comment[hu]=Tudjon meg többet a Xubunturól a weboldalunkon
Comment[nl]=Kom meer te weten over Xubuntu op onze webpagina.
Comment[oc]=Aprenètz-ne mai sus Xubuntu sus nòstre site web.
Comment[pl]=Dowiedz się więcej o Xubuntu na naszej stronie internetowej.
Comment[pt]=Saiba mais sobre o Xubuntu no nosso site.
Comment[sk]=Viac informácií o Xubuntu získate na jeho webových stránkach.
Comment[sr]=Научите нешто више о Иксубунтуу на нашем веб сајту.
Hidden=true
