[Desktop Entry]
Version=1.0
Type=Application
Exec=exo-open --launch WebBrowser http://xubuntu.org/contribute/
Icon=distributor-logo
StartupNotify=false
Terminal=false
Categories=X-XFCE;X-Xfce-Toplevel;
OnlyShowIn=XFCE;
Name=Contribute to Xubuntu
Name[cs]=Přispět Xubuntu
Name[en_AU]=Contribute to Xubuntu
Name[en_GB]=Contribute to Xubuntu
Name[es]=Colaborar con Xubuntu
Name[fi]=Osallistu Xubuntun kehittämiseen
Name[hu]=Közreműködés a Xubuntuban
Name[nl]=Werk mee aan Xubuntu
Name[oc]=Contribuir a Xubuntu
Name[pl]=Pomoc dla Xubuntu
Name[pt]=Contribuir para o Xubuntu
Name[sk]=Prispejte do Xubuntu
Name[sr]=Допринесите Иксубунтуу
Comment=Read how you can make Xubuntu better!
Comment[cs]=Přečtěte si, jak můžete pomoci Xubuntu!
Comment[en_AU]=Read how you can make Xubuntu better!
Comment[en_GB]=Read how you can make Xubuntu better!
Comment[es]=Lea cómo puede ayudar a mejorar Xubuntu.
Comment[fi]=Lue kuinka voit tehdä Xubuntusta paremman!
Comment[hu]=Ismerje meg, hogyan teheti jobbá a Xubuntut!
Comment[nl]=Lees hoe u Xubuntu beter kunt maken!
Comment[pl]=Dowiedz się jak możesz uczynić Xubuntu lepszym!
Comment[pt]=Leia como pode tornar o Xubuntu melhor!
Comment[sk]=Prečítajte si ako môžete spraviť Xubuntu lepším!
Comment[sr]=Прочитајте како можете Иксубунту да учините бољим!
Hidden=true
