
[Desktop Entry]
Version=1.0
Type=Application
Name=Add Printers
Comment=
Exec=gksudo /icpc/scripts/addPrinter.sh
Icon=xfce-printer
Path=
Terminal=false
StartupNotify=false
GenericName=
