
[Desktop Entry]
Version=1.0
Type=Application
Name=Full Reset
Comment=Attempt to reset back to factory-defaults
Exec=gksudo /icpc/scripts/full_reset.sh
Icon=dialog-warning
Path=
Terminal=true
StartupNotify=false
