
[Desktop Entry]
Version=1.0
Type=Application
Name=Full Reset
Comment=Wipe team account, and run setup again on firstlogin
Exec=gksudo /icpc/scripts/deleteUser.sh
Icon=dialog-warning
Path=
Terminal=true
StartupNotify=false
