
[Desktop Entry]
Version=1.0
Type=Application
Name=Reconfigure System
Comment=
Exec=xfce4-terminal --maximize -H -e 'sudo /icpc/scripts/icpc_setup -f' -T "System Configuration"
Icon=gconf-editor
Path=
Terminal=false
StartupNotify=false
GenericName=
